.login-form {
    .d-flex-center {
        display: flex;
        justify-content: center;
    }
    width: 100%;
    .forgot-pw {
        font-size: calc(6px + 0.5vw);
        text-align: center;
        font-style: italic;
        color: rgb(126, 126, 219);
    }
}
